body{
    background-color: black;
}

h1{
    color: white;
}
.Blueheader{
        background-color: #142b72;
        border: none;
        color: white;
        padding: 6px 550px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px; 
}